@model JCA_blog.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Change Password";
}


    <div class="container h-100">
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-12 my-auto">
                <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50"><span class="ct-u-hdr3">Change Your Password</span></h2>
                <br />
                <h4>Manage your password settings below.</h4>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-8">

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="input-email-field" class="col-sm-4 col-form-label">Current Password:</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-email-field" class="col-sm-4 col-form-label">New Password:</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-email-field" class="col-sm-4 col-form-label">Confirm New Password:</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align:right;">
                            <input type="submit" value="Change password" class="btn btn-default" />
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
