@model[JCA_blog].Models.EmailModel
@{
    ViewBag.Title = "Contact";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4> Send me a message.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div ="form-group">
        @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
        <div ="col-md-10">
            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromName)
            </div>
            </div>
            <div ="form-group">
                @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
                <div ="col-md-10">
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "example@email.com" })
                    @Html.ValidationMessageFor(m => m.FromEmail)</div>
                    </div>
                    <div ="form-group">
                        <divclass ="col-md-offset-2 col-md-10">
                            <inputtype ="submit" class="btn btn-primary" value="Send" />
                            </div>
                            </div>




                            <h2>@ViewBag.Title.</h2>
                            <h3>@ViewBag.Message</h3>

                            <address>
                                One Microsoft Way<br />
                                Redmond, WA 98052-6399<br />
                                <abbr title="Phone">P:</abbr>
                                425.555.0100
                            </address>

                            <address>
                                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                            </address>
