@model JCA_blog.Models.BlogPost

@{
    ViewBag.Title = "Create";
}

    <div class="container h-100">
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-12 my-auto">
                <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50"><span class="ct-u-hdr3">Create a Blog Post</span></h2>
                <br />
                <h4>Create a new Blog Post below.</h4>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-10">
                @using (Html.BeginForm("Create", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group" style="padding-top: 10px;">
                        <label for="input-email-field" class="col-sm-2 col-form-label">Title:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 30px;">
                        <label for="input-email-field" class="col-sm-2 col-form-label">Body:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", id = "editor" } })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 30px;">
                        <label for="input-email-field" class="col-sm-2 col-form-label">Add an Image:</label>
                        <div class="col-md-10">
                            <input name="image" type="file" class="form-control" id="fileUpload" />
                            @Html.ValidationMessageFor(model => model.MediaURL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 30px;">
                        <label for="input-email-field" class="col-sm-2 col-form-label">Published</label>
                        <div class="col-md-10 checkbox">

                                @Html.EditorFor(model => model.Published)
                                @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align:right; padding-bottom: 30px;">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-2">
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector: '#editor' });</script>
