@model JCA_blog.Models.BlogPost
@using Blog.Models;

@{
    ViewBag.Title = "Details";
}

    <section class="ct-mediaSection ct-decoration--type6-rotate ct-u-paddingBoth80 ct-blog ct-blog-single" id="works">
        <div class="container">
            <header class="ct-pageSectionHeader text-center">
                <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50"><span class="ct-u-hdr3">Jan's</span> blog</h2>
            </header>
            <div class="row" style="margin-bottom: 20px; margin-left: 20px;">
                <div class="col-lg-12">
                    <p>
                        @*<br />
            @if (User.IsInRole("Admin"))
            {
        <a href="@Url.Action("Edit", new { id = item.Id})" type="button" class="btn btn-primary btn-sm" title="Edit">Edit</a>
            }
            <br />*@
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <article class="ct-articleBox ct-articleBox--default">
                        <div class="ct-articleBox-media">
                            <img src="~/Uploads/what-is-coding-300x200.jpg" alt="">
                        </div>
                        <div class="ct-articleBox-titleBox">
                            <div class="ct-articleBox-meta">
                                <span>@Html.DisplayFor(model => model.Created)</span>
                            </div>
                            <h4>@Html.DisplayFor(model => model.Title)</h4>
                        </div>
                        <div class="ct-articleBox-description">
                            <p>
                                @Html.Raw(Model.Body)
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </article>
                    <section>
                        <p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                var comment = new Comment();
                                <!--Comments-->
                                using (Html.BeginForm("Create", "Comments", new { BlogId = Model.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("Comment.PostId", Model.Id)
                                    <div class="form-group rounded">
                                        <div class="row">
                                            <div class="col-md-10 mx-auto">
                                                @Html.TextArea("Comment.Body", new { @class = "form-control", placeholder = "Leave comment here...", rows = "2" })
                                            </div>
                                            <div class="col-md-2 mx-auto">
                                                <input type="submit" value="Comment" class="btn btn-rose" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                if (Model.Comments != null)
                                {
                                    foreach (var item in Model.Comments)
                                    {
                                        <div class="card">
                                            <div class="card-body">
                                                @item.Body
                                            </div>
                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        @item.Created.ToString("MMM dd, yyyy")
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 text-center">
                                                        @item.Author.FirstName  @item.Author.LastName
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                                        {
                                                            <a class="btn btn-secondary btn-xs" href="@Url.Action("Edit", "Comments", new { id = item.Id })"><i class="material-icons">edit</i></a>
                                                            <a class="btn btn-secondary btn-sm" href="@Url.Action("Delete", "Comments", new { id = item.Id })"><i class="material-icons">delete</i></a>
                                                        }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                }
                                else
                                {
                                    <h4>Start the Conversation by leaving a comment above!!!</h4>
                                }
                            }
                            else
                            {
                                <h4 class="text-center">Login or Register to see and leave comments</h4>
                            <p class="text-center">@Html.ActionLink("Login", "Login", "Account", new { returnUrl = Url.Action("Details", "BlogPosts", new { Slug = Model.Slug }) }, new { @class = "btn btn-rose" })</p>
                        }
                            </p>
                        </section>
                    </div>
                    <div class="col-md-2 ct-js-sidebar">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <section class="widget">
                                    <div class="widget-inner">
                                        <div class="ct-search-widget">
                                            @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                                            {
                                            <div class="form-group ct-form-group-label--float">
                                                <input id="searchStr" name="searchStr" class="form-control input-lg" type="text" placeholder="Search Jan's Blog">
                                                <div class="ct-input-group-btn">
                                                    <button id="searchStr" name="searchStr" class="btn btn-primary" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                                <div style="color: #1ca8dd;">
                                                @Html.ActionLink("Back to List", "Index")
                                                    </div>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>