@model IPagedList<JCA_blog.Models.BlogPost>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<section class="ct-mediaSection ct-decoration--type6-rotate ct-u-paddingBoth80 ct-blog" id="works">
    <div class="container">
        <header class="ct-pageSectionHeader text-center">
            <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50"><span class="ct-u-hdr3">Jan's</span> blog</h2>
        </header>
        <div class="row" style="margin-bottom: 20px; margin-left: 20px;">
            <div class="col-lg-12">
                <p>
                    <br />
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-xs" })
                    }
                    <br />
                </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    @foreach (var item in Model)
                    {
                    <article class="ct-articleBox ct-articleBox--default">
                        <div class="ct-articleBox-media">
                            <img src="@item.MediaURL" alt="" />
                        </div>
                        <div class="ct-articleBox-titleBox">
                            <div class="ct-articleBox-meta">
                                <span>@Html.DisplayFor(modelItem => item.Created)</span>
                            </div>
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div class="ct-articleBox-description">
                            @Html.Raw(item.Body)
                        </div>
                        <a class="ct-articleBox-button">
                            <div class="ct-articleBox-button">
                                @Html.ActionLink("Read more", "Details", new { Slug = item.Slug })<i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                        <div class="row" style="margin-bottom: 20px; margin-top: 20px; margin-left: 20px;">
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Edit", new { id = item.Id})" type="button" class="btn btn-primary btn-sm" title="Edit">Edit</a>
                                <a href="@Url.Action("Details", new { Slug = item.Slug})" type="button" class="btn btn-primary btn-sm" title="Details">Details</a>
                                <a href="@Url.Action("Delete", new { id = item.Id})" type="button" class="btn btn-primary btn-sm" title="Delete">Delete</a>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </article>
                    }
                    <div class="ct-pagination">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8 text-center">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ct-js-sidebar">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <section class="widget">
                                <div class="widget-inner">
                                    <div class="ct-search-widget" >
                                        @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                                        {
                                            <div class="form-group ct-form-group-label--float">
                                                <input id="searchStr" name="searchStr" class="form-control input-lg" type="text" placeholder="Search Jan's Blog">
                                                <div class="ct-input-group-btn">
                                                    <button id="searchStr" name="searchStr" class="btn btn-primary" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>